<!DOCTYPE html>
<html>
<head>
	<title>TODO List</title>
</head>
<body>

	<h2>TODO List</h2>
	
	<form action="" method="post">
	
		<ol>
			<% for( var i in tasks ) { %>
			<li><input type="text" name="tasks[]" value="<%= tasks[ i ]; %>" /></li>
			<% } %>
		</ol>
		
		<button style="display:none;"></button>
	
	</form>
	
</body>
</html>