<!DOCTYPE html>
<html>
<head>
	<title>TODO List</title>
</head>
<body>

	<h2>TODO List</h2>
	
	<form action="" method="post"
		onkeydown=" if( event.keyCode == 13 ) this.submit(); ">
	
		<ol>
			<% for( var i in tasks ) { %>
			<li><input type="text" name="tasks[]" value="<%= tasks[ i ]; %>" /></li>
			<% } %>
		</ol>
	
	</form>
	
</body>
</html>